* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(234, 222, 207);
  font-family: Georgia, "Times New Roman", Times, serif;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(168, 177, 174);
  padding: 10px;
  margin: 10px;
  position: sticky;
  top: 0;
  z-index: 100;
  align-items: center;
}
header img {
  width: 200px;
  height: auto;
  padding: 10px;
  max-width: 100%;
  transition: all 1s;
}
header img:hover {
  transform: scale(1.1);
}
header .section_titulo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
header .section_titulo h1, header .section_titulo h2 {
  color: aliceblue;
  font-family: "Merriweather", serif;
  text-align: center;
  display: flex;
  justify-content: space-around;
  padding: 5px;
  flex-wrap: wrap;
}
header nav {
  display: flex;
}
header nav .label-hamburguesa {
  display: none;
}
header nav .menu-hamburguesa {
  display: none;
}
header nav .menu {
  display: flex;
  justify-content: center;
  list-style-type: none;
  flex-wrap: wrap;
}
header nav .menu li {
  padding: 10px;
  display: inline-block;
}
header nav .menu li a {
  display: flex;
  justify-content: space-around;
  font-size: 1.2rem;
  color: aliceblue;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  flex-wrap: wrap;
  transition: all 1s;
}
header nav .menu li a:hover {
  color: rgb(168, 177, 174);
  background-color: aliceblue;
  transform: scale(1.1);
}

main .acomodar_contenido {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
  padding: 20px;
}
main .section1 .subtitulo, main .section1 .contacto .formulario .subtitulo, .contacto .formulario main .section1 .subtitulo {
  font-size: 2.5rem;
  color: rgb(148, 107, 53);
  font-family: "Merriweather", serif;
  text-align: center;
  margin: 0;
  padding: 0;
}
main .section1 p {
  font-size: 1.2rem;
  font-family: "Playfair Display", serif;
  text-align: center;
  padding: 20px;
  line-height: 1.5;
}
main .section2 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
main .section2 .imagenes {
  display: flex;
  gap: 10px;
}
main .section2 .imagenes .imagenes1 {
  text-align: center;
  width: 100%;
}
main .section2 .imagenes .imagenes1 img {
  width: 100%;
  height: auto;
  object-fit: cover;
  padding: 10px;
}
main .section2 .imagenes .imagenes1 img:hover {
  opacity: 0.5;
}
main .section2 .imagenes .imagenes1 .parrafo {
  text-align: center;
  margin: 10px;
  font-family: "Playfair Display";
}
main .section3 .subtitulo, main .section3 .contacto .formulario .subtitulo, .contacto .formulario main .section3 .subtitulo {
  color: rgb(148, 107, 53);
  font-family: "Merriweather", serif;
  text-align: center;
}
main .section3 p {
  font-size: 1.2rem;
  font-family: "Playfair Display", serif;
  text-align: center;
  padding: 20px;
  line-height: 1.5;
}

.nosotros {
  background-image: url(../img/FondoNosotros.png);
  background-size: cover;
  background-repeat: repeat;
  background-position: 0 0;
  animation: moverFondo 20s linear infinite;
}
@keyframes moverFondo {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 100%;
  }
}
.nosotros .subtitulo1 {
  font-size: 2.5rem;
  color: rgb(239, 193, 193);
  font-family: "Merriweather", serif;
  text-align: center;
}
.nosotros .subtitulo2 {
  font-size: 1.8rem;
  color: rgb(239, 193, 193);
  font-family: "Merriweather", serif;
  text-align: center;
}
.nosotros p {
  font-size: 1.2rem;
  color: aliceblue;
  font-family: "Playfair Display", serif;
  text-align: center;
  padding: 20px;
  line-height: 1.5;
}

.contenido .container .subtitulo {
  font-size: 2.5rem;
  color: rgb(148, 107, 53);
  font-family: "Merriweather", serif;
  text-align: center;
  margin-bottom: 30px;
}
.contenido .container .card {
  border: 1px solid rgb(168, 177, 174);
  border-radius: 10px;
  overflow: hidden;
}
.contenido .container .card .card-body {
  background-color: rgb(234, 222, 207);
  color: rgb(148, 107, 53);
}
.contenido .container .card .card-body .card-title {
  font-family: "Merriweather", serif;
  font-size: 1.5rem;
}
.contenido .container .card .card-body .card-text {
  font-family: "Playfair Display", serif;
  font-size: 1rem;
}
.contenido .container .card .card-body .card-text .toggle-checkbox {
  display: none;
}
.contenido .container .card .card-body .card-text .toggle-label {
  cursor: pointer;
  background-color: rgb(148, 107, 53);
  color: aliceblue;
  border: none;
  display: block;
}
.contenido .container .card .card-body .card-text .toggle-label:hover {
  background-color: #6e5028;
}
.contenido .container .card .card-body .card-text .more-content {
  display: none;
  margin-top: 10px;
}
.contenido .container .card .card-body .card-text .toggle-checkbox:checked + .toggle-label + .more-content {
  display: block;
}
.contenido .container .card .card-body .card-text .toggle-checkbox:checked + .toggle-label {
  display: none;
}
.contenido .container .card .card-body .card-text .toggle-checkbox:checked + .toggle-label + .more-content + .toggle-label-collapsed {
  display: block;
}
.contenido .container .card .card-body .card-text .toggle-label-collapsed {
  cursor: pointer;
  color: #047dfe;
  text-decoration: underline;
  display: none;
  margin-top: 10px;
}

.musica .subtitulo, .musica .contacto .formulario .subtitulo, .contacto .formulario .musica .subtitulo {
  font-size: 1.5rem;
  color: rgb(148, 107, 53);
  font-family: "Merriweather", serif;
  text-align: center;
}

.novedades .subtitulo, .novedades .contacto .formulario .subtitulo, .contacto .formulario .novedades .subtitulo {
  font-size: 2.5rem;
  color: rgb(148, 107, 53);
  font-family: "Merriweather", serif;
  text-align: center;
}
.novedades .subtitulo3 {
  font-size: 2rem;
  color: rgb(148, 107, 53);
  font-family: "Merriweather", serif;
  text-align: center;
}
.novedades p {
  font-size: 1.2rem;
  font-family: "Playfair Display", serif;
  text-align: center;
  padding: 20px;
  line-height: 1.5;
}

.contacto .subtitulo, .contacto .formulario .subtitulo {
  color: rgb(148, 107, 53);
  text-align: center;
}
.contacto .formulario {
  width: 500px;
  margin: 10px auto;
  text-align: center;
}
footer {
  font-size: 1.2rem;
  color: aliceblue;
  font-family: "Merriweather", serif;
  text-align: center;
  margin: 10px;
  background-color: rgb(168, 177, 174);
  padding: 10px;
}
footer h4 {
  font-size: 1.2rem;
  color: aliceblue;
  font-family: "Merriweather", serif;
  text-align: center;
  margin: 5px;
}
footer .social-media {
  display: flex;
  justify-content: center;
  gap: 20px;
}
footer .social-media .Facebook a, footer .social-media .Instagram a {
  color: #fff;
  text-decoration: none;
}
footer .social-media .Facebook a:hover, footer .social-media .Instagram a:hover {
  color: #ddd;
}
footer .Copyright {
  color: aliceblue;
  font-family: "Playfair Display", serif;
  text-align: center;
}

@media screen and (max-width: 768px) {
  header {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
  header img {
    width: 150px;
  }
  header .section_titulo {
    display: flex;
  }
  header .section_titulo h1, header .section_titulo h2 {
    font-size: 1.5rem;
  }
  header .section_titulo h2 {
    font-size: 1rem;
  }
  header nav {
    width: 150%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  header nav .label-hamburguesa {
    display: block;
    cursor: pointer;
    font-size: 1.5rem;
    color: aliceblue;
    background: none;
    border: none;
    margin: 10px;
  }
  header nav .label-hamburguesa:focus {
    outline: none;
  }
  header nav .menu-hamburguesa {
    display: none;
  }
  header nav .menu {
    display: none;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    background-color: rgb(168, 177, 174);
    position: absolute;
    top: 100%;
    left: 79%;
    transform: translateX(-50%);
  }
  header nav .menu li {
    padding: 10px;
    text-align: center;
  }
  header nav .menu-hamburguesa:checked + .menu {
    display: flex;
    text-align: right;
  }
  .section2 {
    flex-direction: column;
  }
  .section2 .imagenes {
    flex-direction: column;
  }
  .section2 .imagenes .imagenes1 {
    width: 100%;
    margin-bottom: 20px;
  }
  .section2 .imagenes .imagenes1 img {
    max-width: 400px;
  }
  .card {
    width: 70%;
    margin: 0 auto;
  }
  .card .card-img-top {
    height: 0 auto;
    object-fit: fill;
  }
}
@media screen and (max-width: 480px) {
  img {
    max-width: 300px;
  }
  header {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
  header img {
    width: 150px;
  }
  header .section_titulo {
    display: flex;
  }
  header .section_titulo h1, header .section_titulo h2 {
    font-size: 1.5rem;
  }
  header .section_titulo h2 {
    font-size: 1rem;
  }
  header nav {
    width: 150%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  header nav .label-hamburguesa {
    display: block;
    cursor: pointer;
    font-size: 1.5rem;
    color: aliceblue;
    background: none;
    border: none;
    margin: 10px 0;
  }
  header nav .label-hamburguesa:focus {
    outline: none;
  }
  header nav .menu-hamburguesa {
    display: none;
  }
  header nav .menu {
    display: none;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    background-color: rgb(168, 177, 174);
    position: absolute;
    top: 100%;
    left: 67%;
    transform: translateX(-50%);
  }
  header nav .menu li {
    padding: 10px;
    text-align: center;
  }
  header nav .menu-hamburguesa:checked + .menu {
    display: flex;
    text-align: right;
  }
  .card {
    width: 60%;
    margin: 0 auto;
  }
  .card-img-top {
    height: 0 auto;
    width: 0 auto;
    object-fit: fill;
  }
}

/*# sourceMappingURL=style.css.map */
