$gris_clarito: rgb(168, 177, 174);
$marron: rgb(148, 107, 53);
$beige: rgb(234, 222, 207);
$rosa: rgb(239, 193, 193);
$blanco: aliceblue;
$fuente_titulo: "Merriweather";
$fuente_parrafo: "Playfair Display";